.headerFooterContainer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

nav {
  height: 5vh;
}

nav img {
  width: 200px;
}

nav .menu {
  color: #F4E76A;
}

footer {
  height: 15vh;
  background-color: #F4E76A80;
}

footer img {
  width: 70px;
}

form {
  margin: 10px 30px 40px 30px;
  padding: 30px;
  background-color: #3B633833;
  border-radius: 16px;
}

form input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  margin: 10px 0 10px 0;
}

form input:nth-child(4) {
  width: 50%;
  margin-right: 7%;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 16px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

form  button {
  margin-top: 30px;
  margin-bottom: 10px;
}

.primaryButton {
  background-color: #F4E76A;
}

.secondaryButton {
  background-color: #3B6338;
  color: white;
}

.primaryButton:hover,
.secondaryButton:hover {
  background-color: #daa520;
  transition: 0.3s;
}

.dateTime {
  display: flex;
}

.dateTime input:first-child {
  margin-right: 50px;
}

.heroContainer {
  background-image: url("./assets//main_image.jpg");
  background-size: cover;
  min-height: 200px;

  text-transform: uppercase;
  font-weight: bold;
  color: white;

  text-align: center;
}

.heroContainer h1{
  font-size: 31px;
  padding-top: 30px;
}

.heroContainer p{
  font-size: 16px;
}

.aboutContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.aboutContainer img{
  width: 40%;
}

.aboutTextContainer {
  width: 45%;
}

.aboutTextContainer h2 {
  font-size: 18px;
}

.aboutTextContainer p {
  font-size: 12px;
  line-height: 3;
}